@model EcosistemasMarinos.Entidades.Configuracion

@{
    ViewData["Title"] = "Edit";
}

@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}


<h1>Edit</h1>

<h4>Configuracion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreAtributo" class="control-label"></label>
                <input asp-for="NombreAtributo" class="form-control" readonly />
                <span asp-validation-for="NombreAtributo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="topeSuperior" class="control-label"></label>
                <input asp-for="topeSuperior" class="form-control" />
                <span asp-validation-for="topeSuperior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="topeInferior" class="control-label"></label>
                <input asp-for="topeInferior" class="form-control" />
                <span asp-validation-for="topeInferior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
