<h1>Login</h1>

<form method="post">


    <label>Nombre:</label><br />
    <input type="text" name="Nombre" />
    <br />

    <label>Contraseña:</label><br />
    <input type="password" name="Contrasenia" />
    <br />

    <input type="submit" value="Aceptar" />

</form>
@ViewBag.msg