<h1>Login</h1>


@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}

<form method="post">


    <label>Nombre:</label><br />
    <input type="text" name="Nombre" />
    <br />

    <label>Contraseña:</label><br />
    <input type="password" name="Contrasenia" />
    <br />

    <input type="submit" value="Aceptar" />

</form>