@model IEnumerable<EcosistemasMarinos.ViewModel.EspecieEcosistemaVM>
@{
    ViewData["Title"] = "AsociarEspecieAEcosistema";
}

@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}

<h1>Asociar una especie a un ecocistema</h1>

<h4>EspecieMarina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AsociarEspecieAEcosistema">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <label>Seleccione un Ecosistema Marino </label> <br />
                <select id="EcosistemaSeleccionado" name="EcosistemaSeleccionado">
                    @foreach (var option in Model)
                    {
                        <option value="@option.ecosistemasMarinos.Id">@option.ecosistemasMarinos.Nombre</option>
                    }
                </select>

            </div>



            <div class="form-group">
                <input type="submit" value="Asignar" class="btn btn-primary" onclick="return confirm('¿Está seguro de que desea realizar esta asignación? Se asignara a @ViewBag.NombreEspecie al ecosistema seleccionado')" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
